[submodule "javascript-brush-up-kit"]
	path = javascript-brush-up-kit
	url = https://github.com/CompileZero/javascript-brush-up-kit.git
[submodule "JS-For-Humans"]
	path = JS-For-Humans
	url = https://github.com/CompileZero/JS-For-Humans.git
[submodule "Python-And-AI-For-Humans"]
	path = Python-And-AI-For-Humans
	url = https://github.com/CompileZero/Python-And-AI-For-Humans.git
